@charset "utf-8";
/* 레이아웃 */

div.local {
  margin-bottom: 0;
}

#content {
  width: 100%;
  margin-left: 0;
}

/* 정책 */

ul.pageLink.terms {
  margin: -30px 0 60px;
}

ul.pageLink.terms li {
  width: 33%;
}

ul.pageLink.terms li.terms {
  width: 34%;
}

div.terms {
  min-height: 300px;
}

div.terms h4 {
  margin-top: 30px;
  color: #333;
  font-size: 1.25em;
  line-height: 1;
}

div.terms h5 {
  margin-top: 15px;
  color: #454545;
  font-size: 1.17em;
  line-height: 1;
}

div.terms p {
  margin-top: 15px;
  font-size: 1.085em;
  word-break: keep-all;
  text-align: justify;
}

div.terms p:first-child {
  margin-top: 0;
}

div.terms p + p,
div.terms h4 + p {
  margin-top: 10px;
}

div.terms h5 + p {
  margin-top: 5px;
}

div.terms ul li {
  margin-top: 5px;
  font-size: 1.085em;
  line-height: 1;
}

div.terms ol ol {
  margin-top: -5px;
  padding-left: 20px;
}

div.terms ol li {
  margin-top: 3px;
  font-size: 1.085em;
  line-height: 1.5;
  word-break: keep-all;
  text-align: justify;
}

div.terms li:first-child {
  margin-top: 10px;
}

/* 사이트맵 */

ul.sitemap {
  width: 1000px;
  /* height: 634px; */
  overflow: hidden;
  line-height: 1;
}

ul.sitemap > li {
  float: left;
  width: 200px;
  height: 327px;
  margin-bottom: 50px;
  border-left: 1px solid #e5e5e5;
  box-sizing: border-box;
}

ul.sitemap > li.lastColumn {
  border-right: 1px solid #e5e5e5;
}

ul.sitemap > li > a {
  float: left;
  margin: 0 0 20px 20px;
  padding-bottom: 10px;
  border-bottom: 3px solid #000;
  color: #000;
  font-size: 1.25em;
  font-family: Armata;
  font-weight: 700;
  line-height: 1;
}

ul.sitemap ul {
  clear: both;
}

ul.sitemap ul a {
  display: block;
  margin-bottom: 1px;
  padding-left: 20px;
  color: #8d8d8d;
  font-size: 1.25em;
  line-height: 34px;
  letter-spacing: -0.0425em;
}

ul.sitemap ul a:hover,
ul.sitemap ul a:active,
ul.sitemap ul a:focus {
  color: #fff;
  background-color: #820024;
}

/* 통합검색 */

div.search {
  margin: -30px 0 60px;
  border: 2px solid #666;
  overflow: hidden;
}

div.search * {
  height: 46px;
  font-size: 1.17em;
  line-height: 46px;
}

div.search label {
  float: left;
  width: 164px;
  border-right: 1px solid #666;
  color: #555;
  font-weight: 700;
  text-align: center;
}

div.search input[type="text"] {
  float: left;
  width: 743px;
  padding: 0 20px;
  border: 0;
  box-sizing: border-box;
}

div.search input.focus {
  background-image: none;
}

div.search button {
  float: right;
  width: 88px;
  color: #fff;
  background-color: #bb1b39;
}

span.info {
  float: left;
  margin-bottom: 20px;
  color: #666;
  font-size: 1.17em;
  line-height: 1;
}

span.info span {
  margin-left: 8px;
  padding-left: 8px;
  border-left: 1px solid #e5e5e5;
}

span.type {
  float: right;
  margin-bottom: 20px;
  font-size: 1.17em;
  line-height: 1;
}

span.type a {
  float: left;
  margin-left: 25px;
  color: #666;
}

span.type a.on {
  padding-left: 20px;
  color: #bb1b39;
  background: url("../images/site/bgCheck.png") no-repeat 0 50%;
}

ul.searchResult {
  clear: both;
  margin-bottom: 60px;
  padding-bottom: 20px;
  border: 2px solid #000;
  border-width: 2px 0;
}

ul.searchResult li {
  padding: 30px 0;
  border-top: 1px dotted #999;
  line-height: 1;
  letter-spacing: -0.0625em;
  overflow: hidden;
}

ul.searchResult li:first-child {
  border-top: 0;
}

ul.searchResult li > a {
  float: left;
  margin-right: 30px;
}

ul.searchResult li > a img {
  width: 190px;
  height: 128px;
}

ul.searchResult li h4 {
  margin-bottom: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

ul.searchResult li h4 a {
  color: #000;
  font-size: 1.66em;
  font-weight: 400;
}

ul.searchResult li > span {
  display: inline-block;
  margin-bottom: 20px;
  color: #a9a9a9;
}

ul.searchResult li p a {
  color: #8d8d8d;
  font-size: 1.25em;
  line-height: 1.45;
}

/* 에러페이지 */

div.error {
  width: 447px;
  margin: 60px auto;
  text-align: center;
  line-height: 1;
  letter-spacing: -0.0425em;
}

div.error img {
  margin-bottom: 30px;
}

div.error strong {
  display: block;
  margin-bottom: 20px;
  color: #000;
  font-size: 1.66em;
  font-weight: 400;
}

div.error span {
  display: block;
  margin-bottom: 55px;
  color: #666;
  font-size: 1.25em;
}

div.error a {
  display: block;
  width: 100%;
  height: 53px;
  margin: 20px auto 40px;
  border-radius: 3px;
  color: #fff;
  font-size: 1.25em;
  background-color: #cf0b42;
  line-height: 53px;
}
