@charset "utf-8";
/* default style */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
article,
aside,
hgroup,
header,
footer,
figure,
figcaption,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "NanumBarunGothic";
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  color: #555;
  font: normal 0.75em/1.45 "NanumBarunGothic", "돋움", Dotum, Arial, Tahoma,
    Geneva, Verdana;
}

h1,
h2,
h3,
h4,
h5,
h6,
th,
strong {
  font-weight: 700;
}

ol,
ul {
  list-style: none;
  overflow: hidden;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  empty-cells: show;
}

legend,
caption {
  width: 0;
  height: 0;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
}

input,
select,
textarea {
  color: #454545;
  font: normal 1em/1 "NanumBarunGothic", "돋움", Dotum, Arial, Tahoma, Geneva,
    Verdana;
}

select {
  padding: 2px;
}

label {
  cursor: default;
}

textarea {
  resize: vertical;
  line-height: 1.45;
  overflow-y: auto;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  overflow: visible;
  cursor: pointer;
  line-height: 1;
}

a:link,
a:visited,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

*::-moz-focus-inner {
  padding: 0;
  border: 0;
}

*::-ms-clear {
  display: none;
}
